@import 'sass/abstracts/mixins';

// Color 
.color-0-88 {
  color: rgba(28, 30, 32, 0.88);
}

.color-0-6 {
  color: rgba(28, 30, 32, 0.6);
}

.color-0-5 {
  color: rgba(28, 30, 32, 0.5);
}

.color-0-2 {
  color: rgba(28, 30, 32, 0.2);
}

.color-0-05 {
  color: rgba(28, 30, 32, 0.05);
}

// Background Color
.bg-color-0-5 {
  background-color: rgba(28, 30, 32, 0.5);
}

.bg-color-0-2 {
  background-color: rgba(28, 30, 32, 0.2);
}

.bg-color-0-01 {
  background-color: rgba(28, 30, 32, 0.01);
}

.bg-color-0-02 {
  background-color: rgba(28, 30, 32, 0.02);
}

.bg-color-0-05 {
  background-color: rgba(28, 30, 32, 0.05);
}

.bg-color-0-1 {
  background-color: rgba(28, 30, 32, 0.1);
}

.bg-color-1 {
  background-color: #fafafa;
}

// Border
.border-0-2 {
  border-color:rgba(28, 30, 32, 0.2);
}

.border-0-1 {
  border-color:rgba(28, 30, 32, 0.1);
}

.border-0-05 {
  border-color:rgba(28, 30, 32, 0.05);
}

// Hover Effect
.hover-bg-color-0-05 {
  @include transition-effect(0.1s);
  &:hover {
    background-color: rgba(28, 30, 32, 0.05);
  }
}

.hover-bg-color-0-08 {
  @include transition-effect(0.1s);
  &:hover {
    background-color: rgba(28, 30, 32, 0.08);
  }
}

