// Color
$light-color: #fafafa;
$main-bg-color: #f6f6f6;
$dark-text-color: rgba(28, 30, 32, 0.88);
$main-text-color: #2daaed;
$box-shadow-effect: 0 0.4rem 0.8rem rgba(0, 0, 0, 0.3);
$disabled-color: rgba(28, 30, 32, 0.2);
$border-light: 0.1rem solid rgba(28, 30, 32, 0.05);
$warning-color: #ff0a0a;
$light-gray-bg-color: rgba(28,30,32,0.02);
$fb-color: #3b5998;

// Size
$left-sidebar-width: 20rem;
$right-sidebar-width: 32rem;
$footer-height: 5.6rem;
$search-header-height: 6.4rem;
$search-content-height: 4rem;

// Screen
$screen-lg: 120.1rem;
$screen-md: 99.2rem;
$screen-sm: 76.8rem;
$screen-phone: 48rem;
$screen-ip6-down: '(max-width: 37.5rem)';


