@import 'settings';

.center-modal-container {
  @include fitContentHeight;
  border-radius: 0.4rem;

  .center-modal-header {
    @include display-flex;
    @include justify-content(space-between);
    @include align-items(center);
    height: 6.4rem;
    border-radius: 0.4rem 0.4rem 0 0;
    border-width: 0 0 0.1rem;
    border-style: solid;

    h4 {
      @include flexCenter;
      width: 100%;
      height: 100%;
      font-size: 1.6rem;
      font-weight: 700;
    }

    button.close-btn {
      @include display-flex;
      background-color: transparent;
      position: absolute;
      padding: 2.05rem;
      right: 0;
      border: 0;

      svg {
        font-size: 2.2rem;
      }
    }
  }
}
