@import 'settings';

.img-overlay-container {
  position: relative;
  width: 100%;
  height: 100%;
  border: $border-light;
  border-radius: 0.4rem;
  overflow: hidden;
  box-shadow: $box-shadow-effect;
  cursor: pointer;

  &:hover {
    img {
      @include transform-effect(scale(1.1));
    }

    .overlay-container {
      opacity: 1;
    }
  }

  img {
    @include transition-effect(0.3s);
    cursor: pointer;
    width: 100%;
    height: 100%;
    border-radius: 0.4rem;
    will-change: transform;
  }
}
