@import 'settings';

.song-playlist-video-container {

  .song-playlist-video-content {
    .notfound-container {
      margin-left: unset;
      margin-right: unset;
    }

    .loading-container {
      @include flexCenter;
      width: 100%;
      height: calc(100vh - #{$footer-height} * 2 - 6.3rem - 2.8rem - 2.4rem);
    }
  }
}