@import 'settings';

.ht-container {
  position: relative;

  .ht-title {
    @include main-title-scss;
  }

  .ht-main {
    margin: 1.6rem 3.2rem 0;

    .swiper {
      position: unset;

      .ht-nav {
        @include display-flex;
        @include align-items(center);
        
        height: 3rem;
        position: absolute;
        top: 0;
        right: 0;
        font-size: 1.8rem;
        margin-right: 3.2rem;
      }
    }

    .ht-container {
      .ht-img-container {
        @include useBorder;
        position: relative;
        width: 100%;
        border-radius: 0.4rem;
        overflow: hidden;
        box-shadow: $box-shadow-effect;
        -webkit-box-shadow: $box-shadow-effect;
        -moz-box-shadow: $box-shadow-effect;
        cursor: pointer;

        &::after {
          content: '';
          display: block;
          padding-bottom: 100%;
        }

        img {
          @include transition-effect(0.3s);
          position: absolute;
          width: 100%;
          height: 100%;
        }

        .ht-blur-layer {
          @include transition-effect(0.3s);
          position: absolute;
          top: 0;
          width: 100%;
          height: 100%;
          background-color: rgba(0, 0, 0, 0.3);
          opacity: 0;
          visibility: hidden;
        }
  
        &:hover .ht-blur-layer {
          opacity: 1;
          visibility: visible;
        }

        &:hover img {
          transform: scale(1.15);
        }
      }
    }
  }
}